@import '../../assets/styles/variables.scss';

:host {

    .flex-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: initial;

        .tool {
            cursor: pointer;
            outline: none;
            margin: 0 15px 15px 0;
            padding: 30px 20px;
            width: 300px;
            height: 160px;
            flex: 0 1 calc(33.333% - 50px);
        
            mat-card-title {
                color: $yellow;
                font-size: 17px;
            }
        }

        .tool:nth-child(3n) {
            margin-right: 0;
        }
    }
}