@import '../../assets/styles/variables.scss';

mat-expansion-panel small {
    color: $secondary;
    font-style: italic;
    display: block;
}

.columns {
    margin: 25px 0 0 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    max-height: 300px;

    mat-checkbox {
        display: block;
        margin-bottom: 7px;
    }
}

::ng-deep {
    .mat-checkbox-layout {
        white-space: normal !important;
    }
}