<div class="outer-wrap flex">
    <sidebar current="{{ sidebar }}"></sidebar>
    <div class="main">
      <mat-card class="tool-container">
        <mat-card-title class="tool-title">{{ title }}</mat-card-title>
        <mat-card-content class="tool-description">{{ description }}</mat-card-content>

        <div class="form-wrap" *ngIf="!formSubmitted">
            <profile-selector [form]="bulkDeleteForm">
            </profile-selector>
            <div class="button-wrap">
                <button (click)="getItems()"
                        mat-flat-button
                        color="primary"
                        [disabled]="bulkDeleteForm.status === 'INVALID'">
                    Get Items
                </button>
                <mat-spinner *ngIf="showSpinner"
                             [diameter]="25"
                             [strokeWidth]="4">
                </mat-spinner>
            </div>
        </div>

        <mat-accordion *ngIf="formSubmitted">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Folders
              </mat-panel-title>
            </mat-expansion-panel-header>
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                color="primary">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                color="primary">
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let folder">{{ folder.name }}</td>
              </ng-container>
              <ng-container matColumnDef="domains">
                <th mat-header-cell *matHeaderCellDef>Domains</th>
                <td mat-cell *matCellDef="let folder">{{ folder.domainsCount }}</td>
              </ng-container>
              <ng-container matColumnDef="apps">
                <th mat-header-cell *matHeaderCellDef>Apps</th>
                <td mat-cell *matCellDef="let folder">{{ folder.appsCount }}</td>
              </ng-container>
              <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef>Created By</th>
                <td mat-cell *matCellDef="let folder">{{ folder.createdByUserName }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                  (click)="selection.toggle(row)">
              </tr>
            </table>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-card>
    </div>
  </div>