@import '../../assets/styles/variables.scss';

:host {

  .form-group {
    
    mat-radio-button {
      display: block;
      margin-bottom: 10px;
    }

    mat-checkbox {
      display: inline-block;
      margin-right: 25px;
    }

    .apply-to {
      color: $yellow;
      text-transform: uppercase;
      font-weight: 500;
    }

    .form-reset {
      margin-right: 15px;
    }
  }

  .successMessage {
        
    mat-card-title {
        color: $text !important;
        font-size: 20px;
        padding: 0 0 0 10px;
        margin: 0 0 15px 12px;
    }
    
    p {
        max-width: 550px;
        margin-left: 23px;
    }

    .error-info {
        color: #D91C0B;
        
        .error-message {
            margin-top: 25px;
            border-top: 1px solid #ddd;
            padding-top: 25px;
        }
    }
  }
}