<div *ngIf="profiles.length" [formGroup]="form" class="form-group select">
    <mat-form-field>
        <mat-label>Select an API Key</mat-label>
        <mat-select formControlName="profile" (selectionChange)="onKeyChosen()">
            <mat-option *ngFor="let profile of profiles" [value]="profile.key">
            {{ profile.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="apiKey.errors && apiKey.touched" class="form-error">
        <small *ngIf="apiKey.errors.required">This field is required</small>
        <small *ngIf="apiKey.errors.invalidApiKey">The API key you selected is invalid</small>
    </div>
    <small (click)="enterNewKey()" class="instruction clickable">or enter new API key</small>
</div>
<div *ngIf="!profiles.length" [formGroup]="form">
    <div class="form-group input">
        <mat-form-field>
            <input formControlName="name" matInput placeholder="Enter a name for your API key (we'll save it for the next time you visit)">
        </mat-form-field>
        <div *ngIf="profileName.errors && profileName.touched" class="form-error">
            <small *ngIf="profileName.errors.required">This field is required</small>
        </div>
    </div>
    <div class="form-group input">
        <mat-form-field>
            <input formControlName="key" matInput placeholder="API Key" (blur)="onKeyEntered()">
        </mat-form-field>
        <div *ngIf="profileKey.errors && profileKey.touched" class="form-error">
            <small *ngIf="profileKey.errors.required">This field is required</small>
            <small *ngIf="profileKey.errors.invalidApiKey">The API key you entered is invalid</small>
        </div>
    </div>
</div>