@import '~@angular/material/theming';

$mat-optools-primary: (
    50 : #fdf9e3,
    100 : #fbf0b8,
    200 : #f8e689,
    300 : #f5dc5a,
    400 : #f3d536,
    500 : #f1cd13,
    600 : #efc811,
    700 : #edc10e,
    800 : #ebba0b,
    900 : #e7ae06,
    A100 : #ffffff,
    A200 : #fff5db,
    A400 : #ffe7a8,
    A700 : #ffe08f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-optools-accent: (
    50 : #efeeed,
    100 : #d6d6d3,
    200 : #bbbab5,
    300 : #9f9e97,
    400 : #8b8a81,
    500 : #76756b,
    600 : #6e6d63,
    700 : #636258,
    800 : #59584e,
    900 : #46453c,
    A100 : #faf2a4,
    A200 : #f8eb74,
    A400 : #ffeb3a,
    A700 : #ffe920,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

@include mat-core();

$primary: mat-palette($mat-optools-primary);
$accent: mat-palette($mat-optools-accent);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);